@page "/friendlinks"
@using Bom.Blog.FriendLinks
@inject IFriendLinkService friendLinkService
@if (friendlinks == null)
{
    <Loading />
}
else
{
    <div class="container">
        <div class="post-wrap categories">
            <h2 class="post-title">-&nbsp;FriendLinks&nbsp;-</h2>
            <div class="categories-card">
                @if (friendlinks.Any())
                {
                    @foreach (var item in friendlinks)
                    {
                        <div class="card-item">
                            <div class="categories">
                                <a target="_blank" href="@item.LinkUrl">
                                    <h3>@item.Title</h3>
                                </a>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <ErrorTip />
                }
            </div>
        </div>
    </div>
}
@code {
    private IEnumerable<FriendLinkDto> friendlinks;
    protected override async Task OnInitializedAsync()
    {
        // 获取数据
        friendlinks = await friendLinkService.GetAllAsync();
    }
}
